body {
  background-color: #edeff0;
}
.img-main-banner {
  /* width: 100%; */
  height: 440px;

}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.header {
  background-color: #044863;
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-left: 0;
  margin-right: 0;
}
.search {
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 10%);
}
.btn {
  box-shadow: none !important;
}
.btn-search {
  color: #fff;
  border: none;
  outline: none;
}
.nav-bar {
  background-color: #2a2f33;
  height: calc(100vh - 70px);
  min-height: 900px;
  position: fixed;
  top: 70px;
  z-index: 1;
  width: calc(100vw / 6);
}
.nav-bar a {
  color: #fff;
}
.nav-bar a :hover {
  color: #fff;
  text-decoration: none !important;
}
ul {
  padding: 1px;
}
.nav-bar-item {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.03);
  width: 100%;
  height: 50px;
  padding-left: 30px;
}
h1.title {
  font-size: 30px;
  position: relative;
  /* text-decoration: underline;
  text-decoration-color: red; */
}
h1.title::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #e1493e;
}

.infor-footer-item {
  font-size: 14px;
}
.main-portfolio-item {
  margin: 17px;
}
.img-item img {
  width: 100%;
  height: 150px;
}
.img-item-right-bar img {
  width: 60%;
  height: 150px;
}
/* .main-content {
  background-image: ("https://api.gl-cal.com/upload/logo-jica-ogp.png");
} */
.main {
  margin-top: 70px;
  width: 100%;
}
.main .content {
  margin-left: 285px;
  padding-top: 55px;
}
.right-bg:first-child {
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.right-bg:last-child {
  margin-top: 15px;
  
  background-repeat: no-repeat;
  background-position: center;
}
.col-4 .article-item:hover {
  box-shadow: 0px 0px 10px 5px #ccc;
}
.article-item {
  font-size: 14px;
}
.article-item .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.article-item .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tag-new {
  margin-bottom: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  background-color: #ffae01;
  color: #fff;
  letter-spacing: 0.1em;
  border-radius: 10px;
  padding: 1.4px 4px 0.5px 6px !important;
}
.img-banner {
  background-repeat: no-repeat;
  background-position: center;
}
.text-banner-main {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 0px;
  text-shadow: 2px 2px 4px #000;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.19) 28%,
    rgba(0, 0, 0, 0.7)
  );
}
.text-banner-right {
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  top: 77%;
  left: 0;
  color: #fff;
  width: 100%;
  text-shadow: 2px 2px 4px #000;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.19) 28%,
    rgba(0, 0, 0, 0.7)
  );
}
.banner-view-tag {
  position: absolute;
  background-color: #0fb3f3;
  color: #fff;
  padding: 6px 10px;
  top: 0px;
  right: 5px;
}
.view-tag-right {
  position: absolute;
  background-color: #0fb3f3;
  color: #fff;
  padding: 6px 10px;
  top: 0px;
  right: 5px;
}
.view-tag-right::after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.5);
  bottom: -7px;
  right: 0;
  content: "";
  position: absolute;
}
.banner-view-tag::after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.5);
  bottom: -7px;
  right: 0;
  content: "";
  position: absolute;
}
.banner-right-view-tag {
  position: absolute;
  background-color: #0fb3f3;
  color: #fff;
  padding: 6px 10px;
  top: 0px;
  right: -10px;
}
.banner-right-view-tag::after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.5);
  bottom: -7px;
  right: 0;
  content: "";
  position: absolute;
}
.view-tag {
  position: absolute;
  background-color: #0fb3f3;
  color: #fff;
  padding: 6px 10px;
  top: -30px;
  right: -30px;
}
.view-tag p {
  margin-left: 0.3rem;
}
.view-tag-right p {
  margin-left: 0.3rem;
}
.banner-view-tag p {
  margin-left: 0.3rem;
}
.banner-right-view-tag p {
  margin-left: 0.3rem;
}
.view-tag::after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.5);
  bottom: -7px;
  right: 0;
  content: "";
  position: absolute;
}
.right-content .card-text-right {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 88%;
  color: #fff;
  position: absolute;
  top: 72%;
  left: 0px;
  text-shadow: 2px 2px 4px #000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.55),
    rgba(59, 59, 60, 0.4) 82%,
    hsla(0, 0%, 98.4%, 0.1)
  );
  padding: 0 15px 2px 15px;
  margin-left: 15px;
}

.right-content .article-item .img {
  margin: 30px 15px 30px 15px;
  height: 150px;
  background-image: url("https://afpbb.ismcdn.jp/mwimgs/a/c/1000x/img_ac2b862ff9725f6266a283691cb81d40300423.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
